@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source ".flowbite-react/class-list.json";

body {
  font-family: roboto;
  font-size: 1.5rem;
}

.bg-primary {
  background-color: #f2992d;
}

.bg-secondary {
  background-color: white;
}