@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source ".flowbite-react/class-list.json";


@theme {
    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}

body {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #ff6724;
  border-color: #ff6724;
}
.btn-primary:hover {
  background-color: #e55c20;
  border-color: #e55c20;
}
.badge-primary {
  background-color: #ff6724;
}
.border-primary {
  border-color: #ff6724;
}
.text-primary {
  color: #ff6724;
}
.focus-ring-primary:focus {
  ring-color: #ff6724;
}

.bg-secondary {
  background-color: white;
}
